
# Ignore temporary files by Microsoft Office (eg.~$ProgressJournal.xlsm)
~$*

# Ingore temporary files by Visual Studio
/.vs

# Ignore configuration files by VS Code
/.vscode

# Ignore build and binary files
/binaries
/build

# Ignore Visual Studio project files
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

# Ignore platform-specific scripts
*.sh
*.bat
*.ps1

# Ignore platform-specific shortcuts
*.lnk

# Ignore Makefiles
Makefile

# Ignore config file for CLOC
/langdef.txt
# Ignore logfiles
log.html
